:root {
    /* var(--main-color); */
    --main-color: #fffbf2;
    --second-main-color: #757b7e;
    --main-text-color: #1669cb;

    --small-logo-icon-size: 120px;
    --midum-logo-icon-size: 340px;
    --large-logo-icon-size: 600px;

    --page-height: 5000px;
    --content-view-padding: 200px;
}

/*#region MainView*/
html {
    scroll-behavior: smooth;
}

body {
    height: var(--page-height);
    margin: 0;
    overflow-x: hidden;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    background-image: url(Images/background.png);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: var(--main-text-color);
    font-weight: 800;
    font-style: bold;
    font-size: 60px;
    text-shadow: 3px 3px 2px rgb(0 0 0 / 30%);
}

h2 {
    color: var(--main-color);
    font-weight: 700;
    font-size: 50px;
    text-shadow: 3px 3px 2px rgb(0 0 0 / 30%);
    text-transform: uppercase;
}

h3 {
    color: var(--main-color);
    font-weight: 600;
    font-size: 40px;
}

h4 {
    color: var(--main-color);
    font-weight: 300;
    font-size: 35px;
    margin-top: 0;
}

dl {
    color: var(--main-color);
    font-size: 25px;
    text-align: left !important;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}

a:hover {
    text-decoration: underline;
    color: var(--main-text-color);
}

#start-view {
    height: 100vh;
}

#content-view {
    background-color: var(--second-main-color);
    width: 100vw;
}

/*#endregion*/

/*#region MainViewElements*/
.gray-element {
    background-color: var(--second-main-color);
}

.scissors {
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.scissors hr {
    border: none;
    border-top: 6px black dashed;
    width: 90%;
    margin: 0;
    height: 2px;
}

.scissors i {
    font-size: 50px;
    transform: rotate(180deg);
    position: absolute;
    padding-left: 95%;
    left: 90%;
    background-color: var(--second-main-color);
    transition: all 2s ease;
}

/*#endregion*/

/*#region Menu*/
#menu-icon {
    height: var(--small-logo-icon-size);
    width: var(--small-logo-icon-size);
    background-color: var(--main-color);
    border: 20px solid var(--main-color);
    border-radius: 0 0 10px 0;
    position: fixed;
    z-index: 10;
    filter: drop-shadow(3px 4px 2px #22222240);
    animation: menu-icon-moving 30s;
    animation-iteration-count: infinite;
    cursor: pointer;
    transition: all 0.5s;
}

/*#menu-icon:not(.menu-icon_hidden_bg):hover {
    height: calc(var(--small-logo-icon-size) + 2px);
    width: calc(var(--small-logo-icon-size) + 2px);
    border: 19px solid var(--main-color);
}

#menu-icon.menu-icon_hidden_bg {
    height: calc(var(--small-logo-icon-size) - 20px) !important;
    width: calc(var(--small-logo-icon-size) - 20px) !important;
}

#menu-icon.menu-icon_hidden_bg:hover {
    height: calc(var(--small-logo-icon-size) - 18px) !important;
    width: calc(var(--small-logo-icon-size) - 18px) !important;
    border: 19px solid var(--main-color);
}*/

@keyframes menu-icon-moving {
    from {
        transform: rotate(0deg);
    }

    1% {
        transform: rotate(-1deg);
    }

    2% {
        transform: rotate(1deg);
    }

    3% {
        transform: rotate(0deg);
    }
}

#menu-bar {
    height: 100vh;
    width: 500px;
    position: fixed;
    left: 0;
    z-index: 10;
    background-color: var(--main-color);
    transition: all 1.2s ease;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    filter: drop-shadow(3px 4px 2px #22222240);
}

.menu-bar-hidden {
    left: -500px !important;
    filter: none !important;
}

#menu-bar div {
    width: 100%;
}

#menu-bar-options {
    height: 120px;
    font-size: 60px;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-bar-options i {
    font-weight: 500;
}

#menu-bar-options img {
    height: 80px;
}

#menu-bar-navigation {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 2px;
    justify-content: space-evenly;
    height: calc(100% - 120px);
    max-height: 700px;
    text-transform: uppercase;
}

#menu-bar-close-icon {
    cursor: pointer;
    transition: color .2s;
}

#menu-bar-close-icon:hover {
    color: var(--main-text-color);
}

/*#endregion*/